node_modules
dist
release
.DS_Store
*.log
.idea
.vscode
.env
.env.*
android/.gradle
android/app/build
android/build
android/local.properties
android/captures
android/.idea
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
